*{
    margin: 0x;
    padding: 0x;
    background-color: lightgray;
}
nav{
    background-color: #333;
    padding:10px;
    display:flex;
    justify-content: space-around;
}
li{
    color: white;
    list-style-type: none;
    padding: 14px 50px;
    float: right;
}
