.{
    margin: 0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background:#080808;
    color: #fff;
}
h1, h2, h4 {
    color:beige;
}
 
p{
    font size: 16px;
    line heigh : 1.6
}*Navigation bar styling*/
nav{
    background-color: beige;
    padding: 10px;
    text-align: center;
}
  
nav li{
    display: inline;
    list-style: 10px;
    margin: 0 15px;
}
nav a{
    color:azure;
    text-decoration: none;
    font-size:18px;
}